.about {
	&__body {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
		margin-top: -56px;

		@media (max-width: $tablet) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	&__content {
		padding-top: 84px;
	}
	&__media {
		picture {
			border-radius: 30px;
			overflow: hidden;
			img {
				height: 425px;

				@media (max-width: $tablet) {
					height: auto;
				}
			}
		}
	}
	&__text {
		grid-column: 2 span;

		@media (max-width: $tablet) {
			grid-column: 1 span;
		}
	}
}
