.breadcrumbs {
	&__container {
	}
	&__wrapper {
		padding: 40px 0px 28px 0px;
		white-space: nowrap;
		overflow-x: auto;

		@media (max-width: $tablet) {
			padding: 20px 0px 10px 0px;
		}
	}
	&__list {
		display: flex;
		align-items: center;
		gap: 14px;
		list-style: none;

		li {
			position: relative;
			&:not(:last-child) {
				&::before {
					content: "|";
					position: absolute;
					top: 2px;
					right: -10px;
					color: $accentColor;
				}
			}

			a {
				font-weight: 400;
				font-size: 12px;
				line-height: 130%;
				color: $accentColor;
				transition: all 0.3s ease 0s;
				@media (any-hover: hover) {
					&:hover {
						color: $accentColor-2;
					}
				}
			}

			span {
				font-weight: 400;
				font-size: 12px;
				line-height: 130%;
				color: $accentColor;
			}
		}
	}
}
