.catalog {
	&__body {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 16px;

		@media (max-width: $tablet) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media (max-width: $mobile) {
			grid-template-columns: repeat(2, 1fr);
			gap: 10px;
		}
	}
	&__item {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 15px;
		overflow: hidden;
		border: 1px solid $accentColor-2;
	}
	&__media {
		picture {
			height: 140px;
		}
	}

	&__descr {
		background-color: #efefef;
		border-radius: 40px;
		padding: 60px;
		margin-bottom: 60px;

		@media (max-width: $tablet) {
			padding: 20px;
		}
	}

	&__wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 40px;

		@media (max-width: $tablet) {
			grid-template-columns: repeat(2, 1fr);
			gap: 20px;
		}
	}
}

.card {
	display: flex;
	flex-direction: column;
	height: 100%;

	&__media {
		margin-bottom: 12px;

		picture {
			height: 360px;

			@media (max-width: $mobileSmall) {
				height: 280px;
			}
		}
	}
	&__content {
		flex: 1 1 auto;
		margin-bottom: 12px;
	}
	&__name {
		@media (max-width: $mobile) {
			font-size: 14px;
		}
	}
	&__bottom {
		margin-top: auto;
	}
	&__price {
		font-size: 28px;
		font-weight: 500;
		line-height: 150%;
		margin-bottom: 10px;

		@media (max-width: $mobile) {
			font-size: 20px;
		}
	}
	&__btns {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;

		@media (max-width: $mobile) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
