.hero {
	&__slider {
		position: relative;
		padding: 30px 0;
	}
	&__wrapper {
	}
	&__slide {
		position: relative;
		pointer-events: none;
		transition-property: opacity;
		opacity: 0 !important;
		transition: opacity 0.3s;

		&.swiper-slide-active {
			pointer-events: auto;
			opacity: 1 !important;

			.hero__title {
				transform: translateY(0);
				opacity: 1;
			}

			.hero__subtitle {
				transform: translateY(0);
				opacity: 1;
			}

			.hero__btns {
				transform: translateY(0);
				opacity: 1;
			}

			.hero__description {
				transform: translateY(0);
				opacity: 1;
			}

			.hero__price {
				transform: translateY(0);
				opacity: 1;
			}
		}
	}
	&__body {
		display: grid;
		grid-template-columns: 1fr 560px;
		align-items: center;
		gap: 40px;

		@media (max-width: $tablet) {
			grid-template-columns: repeat(2, 1fr);
			gap: 20px;
		}

		@media (max-width: $mobile) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	&__content {
	}

	&__description {
		transform: translateY(20px);
		opacity: 0;
		transition: all 0.6s ease 0.2s;
		font-size: 22px;
		line-height: 120%;
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
		gap: 40px;

		p {
			span {
				color: $accentColor;
			}

			@media (max-width: $tablet) {
				font-size: 16px;
			}
		}

		ul {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 40px;

			@media (max-width: $tablet) {
				gap: 20px;
			}
			li {
				display: flex;
				flex-direction: column;

				.number {
					font-weight: 600;
					font-size: 24px;
					color: $accentColor;
					line-height: 120%;
				}
				.text {
					color: #acacac;
					font-size: 18px;
					line-height: 120%;

					@media (max-width: $tablet) {
						font-size: 16px;
					}
				}
			}
		}
	}
	&__subtitle {
		font-size: 44px;
		font-weight: 500;
		color: $accentColor;
		line-height: 120%;
		transform: translateY(20px);
		opacity: 0;
		transition: all 0.6s ease 0.2s;

		@media (max-width: $mobile) {
			font-size: 24px;
		}
	}

	&__title {
		font-weight: 500;
		font-size: 50px;
		line-height: 120%;
		margin-bottom: 20px;
		color: $accentColor-2;
		transform: translateY(20px);
		opacity: 0;
		transition: all 0.6s ease 0s;

		span {
			color: $accentColor;
		}

		@media (max-width: $tablet) {
			font-size: 30px;
			margin-bottom: 8px;
		}

		@media (max-width: $mobile) {
			font-size: 28px;
		}
	}

	&__price {
		font-weight: 700;
		color: $accentColor-2;
		font-size: 50px;
		line-height: 120%;
		margin-bottom: 10px;
		transform: translateY(20px);
		opacity: 0;
		transition: all 0.6s ease 0.2s;

		@media (max-width: $tablet) {
			font-size: 30px;
			margin-bottom: 6px;
		}

		@media (max-width: $mobile) {
			font-size: 24px;
		}
	}

	&__btns {
		display: flex;
		align-items: center;
		gap: 25px;
		transform: translateY(20px);
		opacity: 0;
		transition: all 0.6s ease 0.4s;
		@media (max-width: $mobileSmall) {
			flex-direction: column;
			align-items: start;
			gap: 10px;

			.btn {
				width: 100%;
			}
		}
	}
	&__media {
		height: 555px;
		position: relative;
		border-radius: 30px;
		overflow: hidden;
		picture {
			height: 100%;
		}

		@media (max-width: $mobile) {
			height: 470px;
		}

		@media (max-width: $mobileSmall) {
			height: 100%;
		}
	}

	&__info {
		position: absolute;
		bottom: 20px;
		left: 20px;
		z-index: 5;
		right: 20px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 12px;

		@media (max-width: $tablet) {
			left: 6px;
			right: 6px;
			gap: 6px;
		}
	}

	&__doctors {
		background-color: #fff;
		padding: 10px;
		border-radius: 20px;

		.list {
			display: flex;
			li {
				&:not(:first-child) {
					margin-left: -5px;
				}
				a {
					display: inline-block;
					width: 36px;
					height: 36px;
					border-radius: 100%;
					overflow: hidden;
					border: 1px solid transparent;
					transition: all 0.3s ease 0s;

					@media (max-width: $tablet) {
						width: 28px;
						height: 28px;
					}

					@media (any-hover: hover) {
						&:hover {
							border: 1px solid $accentColor;
						}
					}
				}
			}
		}

		p {
			font-size: 14px;
			color: #7e7e7e;
			margin-bottom: 10px;

			@media (max-width: $tablet) {
				font-size: 12px;
			}
		}

		.btn {
			width: 100%;
		}
	}

	&__sales {
		background-color: $accentColor-2;
		padding: 10px;
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		p {
			font-size: 22px;
			color: #fff;
			line-height: 150%;
			padding: 0 20px;

			@media (max-width: $tablet) {
				font-size: 14px;
				padding: 0 12px;
			}
		}
	}

	&__navigation {
		position: absolute;
		z-index: 5;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 35px;
		bottom: 0px;
		left: 0px;
		right: 0px;
	}

	&__button-prev,
	&__button-next {
		border: none;
		background-color: transparent;
		flex: 0 0 14px;
		width: 14px;
		height: 14px;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__button-prev {
	}
	&__button-next {
	}
	&__pagination {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;

		.swiper-pagination-bullet {
			cursor: pointer;
			width: 10px;
			height: 10px;
			border-radius: 100%;
			background-color: #d9d9d9;
			transition: all 0.3s ease 0s;

			&.swiper-pagination-bullet-active {
				background-color: $accentColor-2;
			}
		}
	}
}
