.fancybox__backdrop {
	background: rgba(24, 24, 27, 0.4) !important;
}
#call,
#service,
#product,
#success,
#reviews {
	padding: 50px 60px;
	border-radius: 24px;
	max-width: 560px;
	border: none;
	@media (max-width: $mobile) {
		padding: 40px 20px;
	}
}

#success {
	.popup__title {
		text-align: center;
	}

	.popup__subtitle {
		text-align: center;
		max-width: 320px;
	}
}

.popup {
	&__body {
		.btn {
			width: 100%;
		}
	}
	&__title {
		font-size: 28px;
		color: $accentColor-2;
		font-weight: 700;
		line-height: 120%;
		margin-bottom: 15px;

		@media (max-width: $mobile) {
			font-size: 24px;
		}
	}
	&__subtitle {
		margin-bottom: 30px;
	}
}

.form-consent {
	margin-bottom: 20px;
}

.custom-checkbox {
	display: flex;
	align-items: flex-start;
	gap: 10px;
	cursor: pointer;
	user-select: none;
}

.custom-checkbox input[type="checkbox"] {
	display: none;
}

.checkbox-box {
	width: 20px;
	height: 20px;
	border: 2px solid #999;
	border-radius: 4px;
	position: relative;
	flex-shrink: 0;
	transition:
		border-color 0.3s,
		background-color 0.3s;
}

.checkbox-box::after {
	content: "";
	position: absolute;
	top: 2px;
	left: 6px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
	opacity: 0;
	transition: opacity 0.2s;
}

input[type="checkbox"]:checked + .checkbox-box {
	background-color: $accentColor;
	border-color: $accentColor;
}

input[type="checkbox"]:checked + .checkbox-box::after {
	opacity: 1;
}

.checkbox-text {
	font-size: 14px;
	color: #969696;
}

.checkbox-text a {
	color: $accentColor;
	text-decoration: underline;
}

button[disabled] {
	transition: all 0.3s ease 0s;
	opacity: 0.6;
	cursor: not-allowed;
}
