<section class="about">
    <div class="about-container">
        <div class="section__header">
            <h1 class="title">О клинике</h1>
        </div>
        <div class="about__body">
            <div class="about__content" data-editor>
                <p>ЦЭМ «Евромедика» - это команда профессионалов, которые соединили грамотный подход знаний в области
                    косметологии,
                    дерматологии и трихологии с передовыми аппаратными/ лазерными методиками известных мировых брендов в
                    лечении,
                    омоложении, сохранении здоровья своих пациентов.</p>
                <p>У нас возможно получить апгрейд лица и тела терапевтическими методами и сохранить здоровье и красоту
                    на долгие
                    годы!Руководителем Центра является Скрипкина Елена Васильевна, врач – косметолог, дерматовенеролог
                    с многолетним опытом
                    работы в сфере эстетической медицины, а также превентивной медицины.</p>
                <p>Все специалисты, врачи проходят обучения в пределах России, и за пределами и не останавливаются в
                    своем профессиональном
                    развитии.</p>
            </div>
            <div class="about__media">
                <picture class="lazy image--cover">
                    <img data-src="@img/about.jpg" class="image lazy__item" alt="">
                </picture>
            </div>
            <div class="about__text" data-editor>
                <p>ЦЭМ «Евромедика» оснащен аппаратами известных мировых брендов, которые закрывают практические все
                    потребности для
                    омоложения и лечения кожи в целом, такие как:</p>
                <p>ЭмФэйс, ЭмБоди, ФОТОНА 4Д Лазерное омоложение, СМАС-лифтинг, ФОТООМОЛОЖЕНИЕ IPL – терапия М22,
                    различные технологии
                    RF-лифтинга, голливудский уход Хайдрофэшл (Вакуумная чистка) , мезотерапия без игл Дермадроп и
                    др., В нашем центре
                    представлена всемирно известная технология интимного омоложения ЭмСелла – это еще раз
                    свидетельствует, что мы заботимся
                    не только о красоте, но и здоровье в целом, в центре открыто направление эстетической гинекологии.
                </p>
                <p>Также мы большое внимание уделяем аппаратной коррекции фигуры.</p>
                <p>ЦЭМ «Евромедика» - это не просто медицинский центр, это начало нового, приятного знакомства, которое
                    изменит Вас в
                    лучшую сторону.</p>
            </div>
        </div>
    </div>
</section>