<section class="action section" data-watch>
    <div class="action-container">
        <div class="action__body">
            <div class="action__title">Начните путь к обновлённой <br> версии себя уже сегодня.</div>
            <div class="action__subtitle">Выберите удобное время и запишитесь на приём к нашим <br> специалистам — всё
                онлайн, быстро и без ожидания.</div>
            <div class="action__bottom">
                <button type="button" data-call class="btn-action">Записаться на прием</button>

            </div>
        </div>
    </div>
</section>