<section class="blog">
    <div class="blog-container">
        <div class="section__header">
            <h1 class="title">Полезное</h1>
        </div>
        <div class="blog__body">
            <article class="blog__item">
                <div class="media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/blog-1.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="content">
                    <div class="name">Что такое эстетическая гинекология?</div>
                    <div class="exerpt">Эстетическая гинекология - это новое направление в гинекологии, которое...</div>
                </div>
                <time datetime="" class="data">14 июня 2025</time>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="blog__item">
                <div class="media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/blog-1.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="content">
                    <div class="name">Что такое эстетическая гинекология?</div>
                    <div class="exerpt">Эстетическая гинекология - это новое направление в гинекологии, которое...</div>
                </div>
                <time datetime="" class="data">14 июня 2025</time>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="blog__item">
                <div class="media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/blog-1.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="content">
                    <div class="name">Что такое эстетическая гинекология эстетическая гинекология?</div>
                    <div class="exerpt">Эстетическая гинекология - это новое гинекология - это новое направление в
                        направление в гинекологии, которое...</div>
                </div>
                <time datetime="" class="data">14 июня 2025</time>
                <a href="#" class="link-stretched"></a>
            </article>
        </div>
    </div>
</section>