<section class="blog">
    <div class="blog-container">
        <div class="section__header">
            <h1 class="title">Полезное</h1>
        </div>
        <div class="blog__wrapper">
            <div class="blog__media">
                <picture class="lazy image--cover">
                    <img data-src="@img/blog-1.jpg" class="image lazy__item" alt="">
                </picture>
            </div>
            <div class="blog__descr" data-editor>
                <p>Эстетическая гинекология - это новое направление в гинекологии, которое направлено на восстановление
                    анатомической
                    структуры, улучшение внешнего вида и функционала женских половых органов, устранение дефектов и
                    аномалий, вызванных
                    особенностями развития и физиологическими изменениями.</p>
                <p>
                    Любая девушка/женщина хочет чувствовать себя
                    привлекательной и
                    уверенной в себе.Со временем, возрастом, генетикой и родами репродуктивная система женщины может
                    меняться как внешне,
                    так и функционально. Казалось бы незаметные дефекты, часто оказывают влияние на жизнь и здоровье
                    девушки.Справиться с
                    проблемами интимных зон возможно в рамках эстетической гинекологии.
                </p>

                <h3>в ЦЭМ "ЕВРОМЕДИКА" мы можем помочь решить такие вопросы как:</h3>

                <ul>
                    <li>Асимметрия наружных половых органов;</li>
                    <li>Ослабление и растяжение мышц тазового дна;</li>
                    <li>Опущение стенок влагалища и матки;</li>
                </ul>
            </div>
        </div>
    </div>
</section>