<section class="catalog">
    <div class="catalog-container">
        <div class="section__header">
            <h1 class="title">Косметологам</h1>
        </div>
        <div class="catalog__body">
            <article class="catalog__item">
                <div class="catalog__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/catalog/category-1.png" class="image lazy__item" alt="">
                    </picture>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="catalog__item">
                <div class="catalog__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/catalog/category-2.png" class="image lazy__item" alt="">
                    </picture>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="catalog__item">
                <div class="catalog__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/catalog/category-3.png" class="image lazy__item" alt="">
                    </picture>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="catalog__item">
                <div class="catalog__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/catalog/category-4.png" class="image lazy__item" alt="">
                    </picture>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="catalog__item">
                <div class="catalog__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/catalog/category-5.png" class="image lazy__item" alt="">
                    </picture>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="catalog__item">
                <div class="catalog__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/catalog/category-6.png" class="image lazy__item" alt="">
                    </picture>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="catalog__item">
                <div class="catalog__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/catalog/category-7.png" class="image lazy__item" alt="">
                    </picture>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="catalog__item">
                <div class="catalog__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/catalog/category-8.png" class="image lazy__item" alt="">
                    </picture>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
        </div>
    </div>
</section>