<section class="catalog">
    <div class="catalog-container">
        <div class="section__header">
            <h1 class="title">EGIA BIOCARE SYSTEM</h1>
        </div>
        <div class="catalog__descr" data-editor>
            <p>EGIA BIOCARE SYSTEM – это продукция премиум-класса высочайшего качества, основанная на естественных
                природных
                ингредиентах и новейших научных разработках.</p>
            <p>Воздействие космецевтических средств EGIA, в первую очередь, направлено на повышение собственного
                потенциала кожи путём
                создания условий, оптимальных для функционирования клеток. Они способны активизировать ферментные
                системы клеток и
                компенсировать недостаточную выработку продуктов клеточного синтеза.</p>
        </div>
        <div class="catalog__wrapper">
            <article class="card">
                <div class="card__media">
                    <picture class="lazy image--contain">
                        <img data-src="@img/catalog/product-1.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="card__content">
                    <div class="card__name">Cleansing Wash. Гель очищающий</div>
                </div>
                <div class="card__bottom">
                    <div class="card__price">3340 ₽</div>
                    <div class="card__btns">
                        <button data-product type="button" class="btn btn-pink"
                            data-name="Cleansing Wash. Гель очищающий">Заказать</button>
                        <a href="#" class="btn btn-blue">Подробнее</a>
                    </div>
                </div>
            </article>
            <article class="card">
                <div class="card__media">
                    <picture class="lazy image--contain">
                        <img data-src="@img/catalog/product-2.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="card__content">
                    <div class="card__name">Enzyme’s Cleansing Foam. Пенка для умывания с энзимами</div>
                </div>
                <div class="card__bottom">
                    <div class="card__price">3340 ₽</div>
                    <div class="card__btns">
                        <button data-product type="button" class="btn btn-pink"
                            data-name="Enzyme’s Cleansing Foam. Пенка для умывания с энзимами">Заказать</button>
                        <a href="#" class="btn btn-blue">Подробнее</a>
                    </div>
                </div>
            </article>
            <article class="card">
                <div class="card__media">
                    <picture class="lazy image--contain">
                        <img data-src="@img/catalog/product-3.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="card__content">
                    <div class="card__name">Eyes & Lips Make-Up Remover. Средство для снятия макияжа двухфазное</div>
                </div>
                <div class="card__bottom">
                    <div class="card__price">3340 ₽</div>
                    <div class="card__btns">
                        <button data-product type="button" class="btn btn-pink"
                            data-name="Eyes & Lips Make-Up Remover. Средство для снятия макияжа двухфазное">Заказать</button>
                        <a href="#" class="btn btn-blue">Подробнее</a>
                    </div>
                </div>
            </article>
            <article class="card">
                <div class="card__media">
                    <picture class="lazy image--contain">
                        <img data-src="@img/catalog/product-4.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="card__content">
                    <div class="card__name">Fruit Acids Cleansing Gel. Гель очищающий с фруктовыми кислотами</div>
                </div>
                <div class="card__bottom">
                    <div class="card__price">3340 ₽</div>
                    <div class="card__btns">
                        <button data-product type="button" class="btn btn-pink"
                            data-name="Fruit Acids Cleansing Gel. Гель очищающий с фруктовыми кислотами">Заказать</button>
                        <a href="#" class="btn btn-blue">Подробнее</a>
                    </div>
                </div>
            </article>
            <article class="card">
                <div class="card__media">
                    <picture class="lazy image--contain">
                        <img data-src="@img/catalog/product-5.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="card__content">
                    <div class="card__name">Soft Cleansing Foam. Мусс нежный очищающий</div>
                </div>
                <div class="card__bottom">
                    <div class="card__price">3340 ₽</div>
                    <div class="card__btns">
                        <button data-product type="button" class="btn btn-pink"
                            data-name="Soft Cleansing Foam. Мусс нежный очищающий">Заказать</button>
                        <a href="#" class="btn btn-blue">Подробнее</a>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>