<section class="certificates">
    <div class="certificates-container">
        <div class="section__header">
            <h1 class="title">Сертификаты</h1>
        </div>
        <div class="certificates__body">
            <a href="@img/sertificates.jpg" class="certificates__item" data-fancybox="gallery">
                <picture class="lazy image--cover">
                    <img data-src="@img/sertificates.jpg" class="image lazy__item" alt="">
                </picture>
            </a>
            <a href="@img/sertificates.jpg" class="certificates__item" data-fancybox="gallery">
                <picture class="lazy image--cover">
                    <img data-src="@img/sertificates.jpg" class="image lazy__item" alt="">
                </picture>
            </a>
            <a href="@img/sertificates.jpg" class="certificates__item" data-fancybox="gallery">
                <picture class="lazy image--cover">
                    <img data-src="@img/sertificates.jpg" class="image lazy__item" alt="">
                </picture>
            </a>
            <a href="@img/sertificates.jpg" class="certificates__item" data-fancybox="gallery">
                <picture class="lazy image--cover">
                    <img data-src="@img/sertificates.jpg" class="image lazy__item" alt="">
                </picture>
            </a>
            <a href="@img/sertificates.jpg" class="certificates__item" data-fancybox="gallery">
                <picture class="lazy image--cover">
                    <img data-src="@img/sertificates.jpg" class="image lazy__item" alt="">
                </picture>
            </a>
            <a href="@img/sertificates.jpg" class="certificates__item" data-fancybox="gallery">
                <picture class="lazy image--cover">
                    <img data-src="@img/sertificates.jpg" class="image lazy__item" alt="">
                </picture>
            </a>
            <a href="@img/sertificates.jpg" class="certificates__item" data-fancybox="gallery">
                <picture class="lazy image--cover">
                    <img data-src="@img/sertificates.jpg" class="image lazy__item" alt="">
                </picture>
            </a>
            <a href="@img/sertificates.jpg" class="certificates__item" data-fancybox="gallery">
                <picture class="lazy image--cover">
                    <img data-src="@img/sertificates.jpg" class="image lazy__item" alt="">
                </picture>
            </a>
            <a href="@img/sertificates.jpg" class="certificates__item" data-fancybox="gallery">
                <picture class="lazy image--cover">
                    <img data-src="@img/sertificates.jpg" class="image lazy__item" alt="">
                </picture>
            </a>
            <a href="@img/sertificates.jpg" class="certificates__item" data-fancybox="gallery">
                <picture class="lazy image--cover">
                    <img data-src="@img/sertificates.jpg" class="image lazy__item" alt="">
                </picture>
            </a>
        </div>
    </div>
</section>