<section class="contacts">
    <div class="contacts-container">
        <div class="section__header">
            <h1 class="title">Контакты</h1>
        </div>
        <div class="contacts__grid">
            <div class="contacts__item">
                <div class="box">
                    <div class="name">ООО ЦЭМ "Евромедика"</div>
                    <ul class="list">
                        <li>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#mobile"></use>
                                </svg>
                            </span>
                            <a href="tel:+79050845231">+7 (905) 084-52-31</a>
                        </li>
                        <li>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#mobile"></use>
                                </svg>
                            </span>
                            <a href="tel:+73852229506">+7 (3852) 229-506</a>
                        </li>
                        <li>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#location"></use>
                                </svg>
                            </span>
                            <a href="#">г. Барнаул, ТД Ультра, ул. Гоголя 47, 3 этаж</a>
                        </li>
                        <li>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#email"></use>
                                </svg>
                            </span>
                            <a href="#">euromed22clinic@mail.ru</a>
                        </li>
                        <li>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#clock"></use>
                                </svg>
                            </span>
                            <span>Пн-Сб с 09:00 - 20:00, Вс - выходной</span>
                        </li>
                    </ul>
                </div>
                <div class="map">
                    карта
                </div>
            </div>
            <div class="contacts__item">
                <div class="box">
                    <div class="name">ООО ЦЭМ "Евромедика"</div>
                    <ul class="list">
                        <li>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#mobile"></use>
                                </svg>
                            </span>
                            <a href="tel:+79050845231">+7 (905) 084-52-31</a>
                        </li>
                        <li>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#mobile"></use>
                                </svg>
                            </span>
                            <a href="tel:+73852229506">+7 (3852) 229-506</a>
                        </li>
                        <li>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#location"></use>
                                </svg>
                            </span>
                            <a href="#">г. Барнаул, ТД Ультра, ул. Гоголя 47, 3 этаж</a>
                        </li>
                        <li>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#email"></use>
                                </svg>
                            </span>
                            <a href="#">euromed22clinic@mail.ru</a>
                        </li>
                        <li>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#clock"></use>
                                </svg>
                            </span>
                            <span>Пн-Сб с 09:00 - 20:00, Вс - выходной</span>
                        </li>
                    </ul>
                </div>
                <div class="map">
                    карта
                </div>
            </div>
        </div>
    </div>
</section>