<section class="error">
    <div class="error-container">
        <div class="error__body">
            <div class="error__text">404</div>
            <div class="error__content">
                <div class="error__title">Ой, кажется, вы заблудились в лабиринте красоты!</div>
                <div class="error__descr" data-editor>
                    <p>Такое бывает даже с самыми идеальными маршрутами. Нужная страница куда-то пропала, вероятно,
                        отправилась на небольшую
                        косметическую процедуру.</p>
                    <p>Но не расстраивайтесь! Давайте вернем вас на верный путь к сияющей коже и отличному настроению.
                    </p>
                </div>
                <div class="error__btns">
                    <a href="/" class="btn btn-pink">На главную страницу</a>
                    <a href="/uslugi/" class="btn btn-blue">Каталог услуг</a>
                    <button type="submit" class="btn btn-blue" data-call>Связаться с нами</button>
                </div>
            </div>
        </div>
    </div>
</section>