<section class="experts">
    <div class="experts-container">
        <div class="section__header">
            <h1 class="title">Специалисты</h1>
        </div>
        <div class="experts__body">
            <article class="expert-card">
                <div class="expert-card__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/main/expert.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="expert-card__name">Скрипкина Елена Васильевна</div>
                <div class="expert-card__post">главный врач, врач-косметолог главный врач, врач-косметолог,
                    дерматолог</div>
                <a href="" class="link-stretched"></a>
            </article>
            <article class="expert-card">
                <div class="expert-card__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/main/expert.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="expert-card__name">Скрипкина Елена Васильевна</div>
                <div class="expert-card__post">главный врач, врач-косметолог главный врач, врач-косметолог,
                    дерматолог</div>
                <a href="" class="link-stretched"></a>
            </article>
            <article class="expert-card">
                <div class="expert-card__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/main/expert.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="expert-card__name">Скрипкина Елена Васильевна</div>
                <div class="expert-card__post">главный врач, врач-косметолог главный врач, врач-косметолог,
                    дерматолог</div>
                <a href="" class="link-stretched"></a>
            </article>
            <article class="expert-card">
                <div class="expert-card__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/main/expert.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="expert-card__name">Скрипкина Елена Васильевна</div>
                <div class="expert-card__post">главный врач, врач-косметолог главный врач, врач-косметолог,
                    дерматолог</div>
                <a href="" class="link-stretched"></a>
            </article>
            <article class="expert-card">
                <div class="expert-card__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/main/expert.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="expert-card__name">Скрипкина Елена Васильевна</div>
                <div class="expert-card__post">главный врач, врач-косметолог главный врач, врач-косметолог,
                    дерматолог</div>
                <a href="" class="link-stretched"></a>
            </article>
            <article class="expert-card">
                <div class="expert-card__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/main/expert.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="expert-card__name">Скрипкина Елена Васильевна</div>
                <div class="expert-card__post">главный врач, врач-косметолог главный врач, врач-косметолог,
                    дерматолог</div>
                <a href="" class="link-stretched"></a>
            </article>
            <article class="expert-card">
                <div class="expert-card__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/main/expert.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="expert-card__name">Скрипкина Елена Васильевна</div>
                <div class="expert-card__post">главный врач, врач-косметолог главный врач, врач-косметолог,
                    дерматолог</div>
                <a href="" class="link-stretched"></a>
            </article>
            <article class="expert-card">
                <div class="expert-card__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/main/expert.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="expert-card__name">Скрипкина Елена Васильевна</div>
                <div class="expert-card__post">главный врач, врач-косметолог главный врач, врач-косметолог,
                    дерматолог</div>
                <a href="" class="link-stretched"></a>
            </article>
            <article class="expert-card">
                <div class="expert-card__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/main/expert.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="expert-card__name">Скрипкина Елена Васильевна</div>
                <div class="expert-card__post">главный врач, врач-косметолог главный врач, врач-косметолог,
                    дерматолог</div>
                <a href="" class="link-stretched"></a>
            </article>
            <article class="expert-card">
                <div class="expert-card__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/main/expert.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="expert-card__name">Скрипкина Елена Васильевна</div>
                <div class="expert-card__post">главный врач, врач-косметолог главный врач, врач-косметолог,
                    дерматолог</div>
                <a href="" class="link-stretched"></a>
            </article>
        </div>
    </div>
</section>