<section class="hero">
    <div class="hero-container">
        <div class="hero__slider swiper">
            <div class="hero__wrapper swiper-wrapper">
                <div class="hero__slide swiper-slide">
                    <div class="hero__body">
                        <div class="hero__content">
                            <div class="hero__subtitle"></div>
                            <div class="hero__title">Центр эстетической медицины</div>
                            <div class="hero__description">
                                <p>Передовые <span>лазерные и аппаратные</span> методики <span>для
                                        лица и
                                        тела.</span>
                                    Преображение начинается здесь.</p>
                                <ul>
                                    <li>
                                        <span class="number">1000+</span>
                                        <span class="text">Довольных пациентов</span>
                                    </li>
                                    <li>
                                        <span class="number">15 лет</span>
                                        <span class="text">Профессиональной работы</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="hero__btns">
                                <a href="#" class="btn btn-pink">Каталог услуг</a>
                            </div>
                        </div>
                        <div class="hero__media">
                            <picture class="lazy image--cover">
                                <img data-src="@img/hero/slide-1.jpg" class="image lazy__item--blur lazy__item" alt="">
                            </picture>

                            <div class="hero__info">
                                <div class="hero__doctors">
                                    <ul class="list">
                                        <li>
                                            <a href="#">
                                                <picture class="lazy image--cover">
                                                    <img data-src="@img/hero/expert-1.png" class="image lazy__item"
                                                        alt="">
                                                </picture>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <picture class="lazy image--cover">
                                                    <img data-src="@img/hero/expert-2.png" class="image lazy__item"
                                                        alt="">
                                                </picture>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <picture class="lazy image--cover">
                                                    <img data-src="@img/hero/expert-3.png" class="image lazy__item"
                                                        alt="">
                                                </picture>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <picture class="lazy image--cover">
                                                    <img data-src="@img/hero/expert-4.png" class="image lazy__item"
                                                        alt="">
                                                </picture>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <picture class="lazy image--cover">
                                                    <img data-src="@img/hero/expert-5.png" class="image lazy__item"
                                                        alt="">
                                                </picture>
                                            </a>
                                        </li>
                                    </ul>
                                    <p>Вы можете подробно узнать о каждом специалисте</p>
                                    <a href="#" class="btn btn-blue">Все врачи</a>
                                </div>
                                <div class="hero__sales">
                                    <p>Актуальные акции и скидки</p>
                                    <a href="#" class="btn btn-pink">Все врачи</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="hero__slide swiper-slide">
                    <div class="hero__body">
                        <div class="hero__content">
                            <div class="hero__subtitle">Новое направление</div>
                            <div class="hero__title">Эстетическая гинекология
                                и ультразвуковая диагностика</div>
                            <div class="hero__description">
                                <p><span>Контурная пластика, интимное лазерное омоложение</span> — деликатный подход к
                                    женскому
                                    здоровью</p>
                            </div>
                            <div class="hero__btns">
                                <a href="#" class="btn btn-pink">Каталог услуг</a>
                            </div>
                        </div>
                        <div class="hero__media">
                            <picture class="lazy image--cover">
                                <img data-src="@img/hero/slide-2.jpg" class="image lazy__item--blur lazy__item" alt="">
                            </picture>
                            <div class="hero__info">
                                <div class="hero__doctors">
                                    <ul class="list">
                                        <li>
                                            <a href="#">
                                                <picture class="lazy image--cover">
                                                    <img data-src="@img/hero/expert-1.png" class="image lazy__item"
                                                        alt="">
                                                </picture>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <picture class="lazy image--cover">
                                                    <img data-src="@img/hero/expert-2.png" class="image lazy__item"
                                                        alt="">
                                                </picture>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <picture class="lazy image--cover">
                                                    <img data-src="@img/hero/expert-3.png" class="image lazy__item"
                                                        alt="">
                                                </picture>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <picture class="lazy image--cover">
                                                    <img data-src="@img/hero/expert-4.png" class="image lazy__item"
                                                        alt="">
                                                </picture>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <picture class="lazy image--cover">
                                                    <img data-src="@img/hero/expert-5.png" class="image lazy__item"
                                                        alt="">
                                                </picture>
                                            </a>
                                        </li>
                                    </ul>
                                    <p>Вы можете подробно узнать о каждом специалисте</p>
                                    <a href="#" class="btn btn-blue">Все врачи</a>
                                </div>
                                <div class="hero__sales">
                                    <p>Актуальные акции и скидки</p>
                                    <a href="#" class="btn btn-pink">Все врачи</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="hero__slide swiper-slide">
                    <div class="hero__body">
                        <div class="hero__content">
                            <div class="hero__subtitle"></div>
                            <div class="hero__title">Y3-SMAS-лифтинг</div>
                            <div class="hero__price">20 000 ₽</div>
                            <div class="hero__description">
                                <p>Результат сразу и на 6 месяцев! Индивидуальное воздействие с УЗ-контролем.</p>
                            </div>
                            <div class="hero__btns">
                                <a href="#" class="btn btn-pink">Подробнее</a>
                            </div>
                        </div>
                        <div class="hero__media">
                            <picture class="lazy image--cover">
                                <img data-src="@img/hero/slide-3.jpg" class="image lazy__item--blur lazy__item" alt="">
                            </picture>
                            <div class="hero__info">
                                <div class="hero__doctors">
                                    <ul class="list">
                                        <li>
                                            <a href="#">
                                                <picture class="lazy image--cover">
                                                    <img data-src="@img/hero/expert-1.png" class="image lazy__item"
                                                        alt="">
                                                </picture>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <picture class="lazy image--cover">
                                                    <img data-src="@img/hero/expert-2.png" class="image lazy__item"
                                                        alt="">
                                                </picture>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <picture class="lazy image--cover">
                                                    <img data-src="@img/hero/expert-3.png" class="image lazy__item"
                                                        alt="">
                                                </picture>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <picture class="lazy image--cover">
                                                    <img data-src="@img/hero/expert-4.png" class="image lazy__item"
                                                        alt="">
                                                </picture>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <picture class="lazy image--cover">
                                                    <img data-src="@img/hero/expert-5.png" class="image lazy__item"
                                                        alt="">
                                                </picture>
                                            </a>
                                        </li>
                                    </ul>
                                    <p>Вы можете подробно узнать о каждом специалисте</p>
                                    <a href="#" class="btn btn-blue">Все врачи</a>
                                </div>
                                <div class="hero__sales">
                                    <p>Актуальные акции и скидки</p>
                                    <a href="#" class="btn btn-pink">Все врачи</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="hero__slide swiper-slide">
                    <div class="hero__body">
                        <div class="hero__content">
                            <div class="hero__subtitle"></div>
                            <div class="hero__title">Элитный лифтинг Emface</div>
                            <div class="hero__price">18 000 ₽</div>
                            <div class="hero__description">
                                <p>Индивидуальный протокол «2 в 1»: две зоны или усиленный результат. Преображение по
                                    вашему сценарию.</p>
                            </div>
                            <div class="hero__btns">
                                <a href="#" class="btn btn-pink">Подробнее</a>
                            </div>
                        </div>
                        <div class="hero__media">
                            <picture class="lazy image--cover">
                                <img data-src="@img/hero/slide-4.jpg" class="image lazy__item--blur lazy__item" alt="">
                            </picture>
                            <div class="hero__info">
                                <div class="hero__doctors">
                                    <ul class="list">
                                        <li>
                                            <a href="#">
                                                <picture class="lazy image--cover">
                                                    <img data-src="@img/hero/expert-1.png" class="image lazy__item"
                                                        alt="">
                                                </picture>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <picture class="lazy image--cover">
                                                    <img data-src="@img/hero/expert-2.png" class="image lazy__item"
                                                        alt="">
                                                </picture>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <picture class="lazy image--cover">
                                                    <img data-src="@img/hero/expert-3.png" class="image lazy__item"
                                                        alt="">
                                                </picture>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <picture class="lazy image--cover">
                                                    <img data-src="@img/hero/expert-4.png" class="image lazy__item"
                                                        alt="">
                                                </picture>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <picture class="lazy image--cover">
                                                    <img data-src="@img/hero/expert-5.png" class="image lazy__item"
                                                        alt="">
                                                </picture>
                                            </a>
                                        </li>
                                    </ul>
                                    <p>Вы можете подробно узнать о каждом специалисте</p>
                                    <a href="#" class="btn btn-blue">Все врачи</a>
                                </div>
                                <div class="hero__sales">
                                    <p>Актуальные акции и скидки</p>
                                    <a href="#" class="btn btn-pink">Все врачи</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="hero__slide swiper-slide">
                    <div class="hero__body">
                        <div class="hero__content">
                            <div class="hero__subtitle"></div>
                            <div class="hero__title">Аппаратный лифтинг “всё включено”</div>
                            <div class="hero__price">19 500 ₽</div>
                            <div class="hero__description">
                                <p>Мощное омоложение по специальной цене!</p>
                            </div>
                            <div class="hero__btns">
                                <a href="#" class="btn btn-pink">Подробнее</a>
                            </div>
                        </div>
                        <div class="hero__media">
                            <picture class="lazy image--cover">
                                <img data-src="@img/hero/slide-5.jpg" class="image lazy__item--blur lazy__item" alt="">
                            </picture>
                            <div class="hero__info">
                                <div class="hero__doctors">
                                    <ul class="list">
                                        <li>
                                            <a href="#">
                                                <picture class="lazy image--cover">
                                                    <img data-src="@img/hero/expert-1.png" class="image lazy__item"
                                                        alt="">
                                                </picture>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <picture class="lazy image--cover">
                                                    <img data-src="@img/hero/expert-2.png" class="image lazy__item"
                                                        alt="">
                                                </picture>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <picture class="lazy image--cover">
                                                    <img data-src="@img/hero/expert-3.png" class="image lazy__item"
                                                        alt="">
                                                </picture>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <picture class="lazy image--cover">
                                                    <img data-src="@img/hero/expert-4.png" class="image lazy__item"
                                                        alt="">
                                                </picture>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <picture class="lazy image--cover">
                                                    <img data-src="@img/hero/expert-5.png" class="image lazy__item"
                                                        alt="">
                                                </picture>
                                            </a>
                                        </li>
                                    </ul>
                                    <p>Вы можете подробно узнать о каждом специалисте</p>
                                    <a href="#" class="btn btn-blue">Все врачи</a>
                                </div>
                                <div class="hero__sales">
                                    <p>Актуальные акции и скидки</p>
                                    <a href="#" class="btn btn-pink">Все врачи</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__navigation">
                <button type="button" class="hero__button-prev">
                    <svg>
                        <use xlink:href="@img/icons/sprite.svg#arrow-left"></use>
                    </svg>
                </button>
                <div class="hero__pagination"></div>
                <button type="button" class="hero__button-next">
                    <svg>
                        <use xlink:href="@img/icons/sprite.svg#arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>