<section class="legal">
    <div class="legal-container">
        <div class="section__header">
            <h1 class="title">Правовая информация</h1>
        </div>
        <div class="legal__subtitle">Список проверяющих организаций</div>
        <div class="legal__body">
            <div class="legal__item">
                <div class="legal__name">Министерство здравоохранения Алтайского края</div>
                <div class="legal__post">Министр: Попов Дмитрий Владимирович</div>
                <ul class="legal__list">
                    <li>
                        <a href="tel:3852628098">
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#mobile"></use>
                                </svg>
                            </span>
                            <span>(3852) 62-80-98</span>
                        </a>
                    </li>
                    <li>
                        <a href="tel:3852628098">
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#mobile-2"></use>
                                </svg>
                            </span>
                            <span>(3852) 62-80-98</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#location"></use>
                                </svg>
                            </span>
                            <span>656031, Алтайский край, г. Барнаул, пр. Красноармейский, 95а</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:krayzdrav@zdravalt.ru">
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#email"></use>
                                </svg>
                            </span>
                            <span>krayzdrav@zdravalt.ru</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="legal__item">
                <div class="legal__name">Территориальный орган Федеральной службы по надзору в сфере здравоохранения по
                    Алтайскому краю</div>
                <ul class="legal__list">
                    <li>
                        <a href="tel:3852628098">
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#mobile"></use>
                                </svg>
                            </span>
                            <span>(3852) 62-80-98</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#location"></use>
                                </svg>
                            </span>
                            <span>656011, г. Барнаул, пр-т Ленина, 145</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:krayzdrav@zdravalt.ru">
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#email"></use>
                                </svg>
                            </span>
                            <span>krayzdrav@zdravalt.ru</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#global"></use>
                                </svg>
                            </span>
                            <span>22reg.roszdravnadzor.ru</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="legal__item">
                <div class="legal__name">Управление Федеральной службы по надзору в сфере защиты прав потребителей и
                    благополучия человека по Алтайскому краю
                    (Управление Роспотребнадзора по Алтайскому краю)</div>
                <ul class="legal__list">
                    <li>
                        <a href="tel:3852628098">
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#mobile"></use>
                                </svg>
                            </span>
                            <span>(3852) 62-80-98</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#location"></use>
                                </svg>
                            </span>
                            <span>656011, г. Барнаул, пр-т Ленина, 145</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:krayzdrav@zdravalt.ru">
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#email"></use>
                                </svg>
                            </span>
                            <span>krayzdrav@zdravalt.ru</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#global"></use>
                                </svg>
                            </span>
                            <span>22reg.roszdravnadzor.ru</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="legal__subtitle">Документация</div>
        <div class="legal-documents__body">
            <a href="" download target="_blank" class="legal-documents__item">
                <span class="icon">
                    <svg>
                        <use xlink:href="@img/icons/sprite.svg#download"></use>
                    </svg>
                </span>
                <span class="name">Правила внутреннего распорядка для пациентов</span>
            </a>
            <a href="" download target="_blank" class="legal-documents__item">
                <span class="icon">
                    <svg>
                        <use xlink:href="@img/icons/sprite.svg#download"></use>
                    </svg>
                </span>
                <span class="name">Санитарно-эпидемиологическое заключение</span>
            </a>
            <a href="" download target="_blank" class="legal-documents__item">
                <span class="icon">
                    <svg>
                        <use xlink:href="@img/icons/sprite.svg#download"></use>
                    </svg>
                </span>
                <span class="name">Информация об организации</span>
            </a>
            <a href="" download target="_blank" class="legal-documents__item">
                <span class="icon">
                    <svg>
                        <use xlink:href="@img/icons/sprite.svg#download"></use>
                    </svg>
                </span>
                <span class="name">Информация об официальных ресурсах</span>
            </a>
            <a href="" download target="_blank" class="legal-documents__item">
                <span class="icon">
                    <svg>
                        <use xlink:href="@img/icons/sprite.svg#download"></use>
                    </svg>
                </span>
                <span class="name">Положение об условиях приобретения работ и услуг</span>
            </a>
            <a href="" download target="_blank" class="legal-documents__item">
                <span class="icon">
                    <svg>
                        <use xlink:href="@img/icons/sprite.svg#download"></use>
                    </svg>
                </span>
                <span class="name">Уведомление для потребителей</span>
            </a>
            <a href="" download target="_blank" class="legal-documents__item">
                <span class="icon">
                    <svg>
                        <use xlink:href="@img/icons/sprite.svg#download"></use>
                    </svg>
                </span>
                <span class="name">Cвидетельство о постановке на учет</span>
            </a>
        </div>
    </div>
</section>