<section class="main-experts section" data-watch>
    <div class="main-experts-container">
        <div class="section__header">
            <div class="title">Наши специалисты</div>
            <a href="#" class="btn btn-blue">Все специалисты</a>
        </div>
        <div class="main-experts__slider swiper">
            <div class="main-experts__wrapper swiper-wrapper">
                <div class="main-experts__slide swiper-slide">
                    <article class="expert-card">
                        <div class="expert-card__media">
                            <picture class="lazy image--cover">
                                <img data-src="@img/main/expert.jpg" class="image lazy__item" alt="">
                            </picture>
                        </div>
                        <div class="expert-card__name">Скрипкина Елена Васильевна</div>
                        <div class="expert-card__post">главный врач, врач-косметолог главный врач, врач-косметолог,
                            дерматолог</div>
                        <a href="" class="link-stretched"></a>
                    </article>
                </div>
                <div class="main-experts__slide swiper-slide">
                    <article class="expert-card">
                        <div class="expert-card__media">
                            <picture class="lazy image--cover">
                                <img data-src="@img/main/expert.jpg" class="image lazy__item" alt="">
                            </picture>
                        </div>
                        <div class="expert-card__name">Скрипкина Елена Васильевна</div>
                        <div class="expert-card__post">главный врач, врач-косметолог, дерматолог</div>
                        <a href="" class="link-stretched"></a>
                    </article>
                </div>
                <div class="main-experts__slide swiper-slide">
                    <article class="expert-card">
                        <div class="expert-card__media">
                            <picture class="lazy image--cover">
                                <img data-src="@img/main/expert.jpg" class="image lazy__item" alt="">
                            </picture>
                        </div>
                        <div class="expert-card__name">Скрипкина Елена Васильевна</div>
                        <div class="expert-card__post">главный врач, врач-косметолог, дерматолог</div>
                        <a href="" class="link-stretched"></a>
                    </article>
                </div>
                <div class="main-experts__slide swiper-slide">
                    <article class="expert-card">
                        <div class="expert-card__media">
                            <picture class="lazy image--cover">
                                <img data-src="@img/main/expert.jpg" class="image lazy__item" alt="">
                            </picture>
                        </div>
                        <div class="expert-card__name">Скрипкина Елена Васильевна</div>
                        <div class="expert-card__post">главный врач, врач-косметолог, дерматолог</div>
                        <a href="" class="link-stretched"></a>
                    </article>
                </div>
                <div class="main-experts__slide swiper-slide">
                    <article class="expert-card">
                        <div class="expert-card__media">
                            <picture class="lazy image--cover">
                                <img data-src="@img/main/expert.jpg" class="image lazy__item" alt="">
                            </picture>
                        </div>
                        <div class="expert-card__name">Скрипкина Елена Васильевна</div>
                        <div class="expert-card__post">главный врач, врач-косметолог, дерматолог</div>
                        <a href="" class="link-stretched"></a>
                    </article>
                </div>
                <div class="main-experts__slide swiper-slide">
                    <article class="expert-card">
                        <div class="expert-card__media">
                            <picture class="lazy image--cover">
                                <img data-src="@img/main/expert.jpg" class="image lazy__item" alt="">
                            </picture>
                        </div>
                        <div class="expert-card__name">Скрипкина Елена Васильевна</div>
                        <div class="expert-card__post">главный врач, врач-косметолог, дерматолог</div>
                        <a href="" class="link-stretched"></a>
                    </article>
                </div>
            </div>
            <button type="button" class="swiper-button-prev sw-btn-white">
                <svg>
                    <use xlink:href="@img/icons/sprite.svg#arrow-left"></use>
                </svg>
            </button>
            <button type="button" class="swiper-button-next sw-btn-white">
                <svg>
                    <use xlink:href="@img/icons/sprite.svg#arrow-right"></use>
                </svg>
            </button>
        </div>
        <div class="section__footer">
            <a href="#" class="btn btn-blue">Все специалисты</a>
        </div>
    </div>
</section>