<section class="main-services section">
    <div class="main-services-container">
        <div class="section__header">
            <div class="title">Популярные услуги</div>
            <a href="" class="btn btn-blue">Все услуги</a>
        </div>
        <div class="main-services__body">
            <article class="main-services__item">
                <div class="main-services__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/main/services.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="main-services__name">Консультация</div>
                <a href="" class="link-stretched"></a>
            </article>
            <article class="main-services__item">
                <div class="main-services__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/main/services.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="main-services__name">Аппаратная и лазерная косметология</div>
                <a href="" class="link-stretched"></a>
            </article>
            <article class="main-services__item">
                <div class="main-services__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/main/services.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="main-services__name">Инъекционная косметология</div>
                <a href="" class="link-stretched"></a>
            </article>
            <article class="main-services__item">
                <div class="main-services__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/main/services.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="main-services__name">Аппарат М22</div>
                <a href="" class="link-stretched"></a>
            </article>
            <article class="main-services__item">
                <div class="main-services__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/main/services.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="main-services__name">Уходовые процедуры</div>
                <a href="" class="link-stretched"></a>
            </article>
            <article class="main-services__item">
                <div class="main-services__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/main/services.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="main-services__name">Трихология</div>
                <a href="" class="link-stretched"></a>
            </article>
        </div>
        <div class="section__footer">
            <a href="#" class="btn btn-blue">Все услуги</a>
        </div>
    </div>
</section>