<section class="main-case section">
    <div class="main-case-container">
        <div class="section__header">
            <div class="title">Кейсы до/после</div>
        </div>
        <div class="main-case__body">
            <article class="case__item">
                <div class="case__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/main/services.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
            </article>
            <article class="case__item">
                <div class="case__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/main/case.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
            </article>
            <article class="case__item">
                <div class="case__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/main/case.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
            </article>
            <article class="case__item">
                <div class="case__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/main/case.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
            </article>
            <article class="case__item">
                <div class="case__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/main/case.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
            </article>
            <article class="case__item">
                <div class="case__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/main/case.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
            </article>
            <article class="case__item">
                <div class="case__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/main/case.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
            </article>
        </div>
    </div>
</section>