<section class="catalog">
    <div class="catalog-container">
        <div class="product__body">
            <div class="product__media">
                <picture class="lazy image--contain">
                    <img data-src="@img/catalog/product-1.jpg" class="image lazy__item" alt="">
                </picture>
            </div>
            <div class="product__content">
                <div class="section__header">
                    <h1 class="title">Cleansing Wash. Гель очищающий</h1>
                </div>
                <div class="product__price">3340 ₽</div>
                <button type="button" class="btn btn-pink" data-name="Cleansing Wash. Гель очищающий">Заказать</button>
                <div class="product__descr" data-editor>
                    <p>Гель эффективно очищает кожу, не раздражая и не нарушая рН-баланс. Содержит большое количество
                        аминокислот, витаминов и
                        микроэлементов, которые способствуют дополнительному увлажнению и регенерации.</p>
                    <p>Гель оказывает противовоспалительное действие, нормализует работу сальных желез, снимает
                        раздражение. Содержит
                        уникальный антивозрастной Е.С.А.-3 комплекс.</p>
                </div>
            </div>
        </div>
    </div>
</section>