<section class="reviews">
    <div class="reviews-container">
        <div class="section__header">
            <div class="title">Отзывы</div>
        </div>
        <div class="reviews__btn">
            <button type="button" class="btn btn-pink" data-reviews>Оставить отзыв</button>
        </div>

        <div class="reviews__body">
            <article class="reviews__item">
                <div class="reviews__name">Лариса</div>
                <div class="reviews__text">Обратилась в клинику, жалобы на высыпания на лице. В
                    восторге от
                    врача, приятная, уютная атмосфера. Провели полную
                    консультацию, назначили терапию , дали рекомендации. Очень довольна! обязательно напишу про
                    улучшения.</div>
                <div class="reviews__footer">
                    <time datetime="" class="reviews__date">31.01.2024</time>
                    <div class="reviews__from">Яндекс карты</div>
                </div>
            </article>
            <article class="reviews__item">
                <div class="reviews__name">Лариса</div>
                <div class="reviews__text">Обратилась в клинику, жалобы на высыпания на лице. В
                    восторге от
                    врача, приятная, уютная атмосфера. Провели полную
                    консультацию, назначили терапию , дали рекомендации. Очень довольна! обязательно напишу про
                    улучшения.</div>
                <div class="reviews__footer">
                    <time datetime="" class="reviews__date">31.01.2024</time>
                    <div class="reviews__from">Яндекс карты</div>
                </div>
            </article>
            <article class="reviews__item">
                <div class="reviews__name">Лариса</div>
                <div class="reviews__text">Обратилась в клинику, жалобы на высыпания на лице. В
                    восторге от
                    врача, приятная, уютная атмосфера. Провели полную
                    консультацию, назначили терапию , дали рекомендации. Очень довольна! обязательно напишу про
                    улучшения. Провели полную
                    консультацию, назначили терапию , дали рекомендации. Очень довольна! обязательно напишу про
                    улучшения.</div>
                <div class="reviews__footer">
                    <time datetime="" class="reviews__date">31.01.2024</time>
                    <div class="reviews__from">Яндекс карты</div>
                </div>
            </article>
            <article class="reviews__item">
                <div class="reviews__name">Лариса</div>
                <div class="reviews__text">Обратилась в клинику, жалобы на высыпания на лице. В
                    восторге от
                    врача, приятная, уютная атмосфера. Провели полную
                    консультацию, назначили терапию , дали рекомендации. Очень довольна! обязательно напишу про
                    улучшения. Провели полную
                    консультацию, назначили терапию , дали рекомендации. Очень довольна! обязательно напишу про
                    улучшения.</div>
                <div class="reviews__footer">
                    <time datetime="" class="reviews__date">31.01.2024</time>
                    <div class="reviews__from">Яндекс карты</div>
                </div>
            </article>
            <article class="reviews__item">
                <div class="reviews__name">Лариса</div>
                <div class="reviews__text">Обратилась в клинику, жалобы на высыпания на лице. В
                    восторге от
                    врача, приятная, уютная атмосфера. Провели полную
                    консультацию, назначили терапию , дали рекомендации. Очень довольна! обязательно напишу про
                    улучшения.</div>
                <div class="reviews__footer">
                    <time datetime="" class="reviews__date">31.01.2024</time>
                    <div class="reviews__from">Яндекс карты</div>
                </div>
            </article>
            <article class="reviews__item">
                <div class="reviews__name">Лариса</div>
                <div class="reviews__text">Обратилась в клинику, жалобы на высыпания на лице. В
                    восторге от
                    врача, приятная, уютная атмосфера. Провели полную
                    консультацию, назначили терапию , дали рекомендации. Очень довольна! обязательно напишу про
                    улучшения.</div>
                <div class="reviews__footer">
                    <time datetime="" class="reviews__date">31.01.2024</time>
                    <div class="reviews__from">Яндекс карты</div>
                </div>
            </article>
            <article class="reviews__item">
                <div class="reviews__name">Лариса</div>
                <div class="reviews__text">Обратилась в клинику, жалобы на высыпания на лице. В
                    восторге от
                    врача, приятная, уютная атмосфера. Провели полную
                    консультацию, назначили терапию , дали рекомендации. Очень довольна! обязательно напишу про
                    улучшения. Провели полную
                    консультацию, назначили терапию , дали рекомендации. Очень довольна! обязательно напишу про
                    улучшения.</div>
                <div class="reviews__footer">
                    <time datetime="" class="reviews__date">31.01.2024</time>
                    <div class="reviews__from">Яндекс карты</div>
                </div>
            </article>
            <article class="reviews__item">
                <div class="reviews__name">Лариса</div>
                <div class="reviews__text">Обратилась в клинику, жалобы на высыпания на лице. В
                    восторге от
                    врача, приятная, уютная атмосфера. Провели полную
                    консультацию, назначили терапию , дали рекомендации. Очень довольна! обязательно напишу про
                    улучшения. Провели полную
                    консультацию, назначили терапию , дали рекомендации. Очень довольна! обязательно напишу про
                    улучшения.</div>
                <div class="reviews__footer">
                    <time datetime="" class="reviews__date">31.01.2024</time>
                    <div class="reviews__from">Яндекс карты</div>
                </div>
            </article>
            <article class="reviews__item">
                <div class="reviews__name">Лариса</div>
                <div class="reviews__text">Обратилась в клинику, жалобы на высыпания на лице. В
                    восторге от
                    врача, приятная, уютная атмосфера. Провели полную
                    консультацию, назначили терапию , дали рекомендации. Очень довольна! обязательно напишу про
                    улучшения.</div>
                <div class="reviews__footer">
                    <time datetime="" class="reviews__date">31.01.2024</time>
                    <div class="reviews__from">Яндекс карты</div>
                </div>
            </article>
            <article class="reviews__item">
                <div class="reviews__name">Лариса</div>
                <div class="reviews__text">Обратилась в клинику, жалобы на высыпания на лице. В
                    восторге от
                    врача, приятная, уютная атмосфера. Провели полную
                    консультацию, назначили терапию , дали рекомендации. Очень довольна! обязательно напишу про
                    улучшения.</div>
                <div class="reviews__footer">
                    <time datetime="" class="reviews__date">31.01.2024</time>
                    <div class="reviews__from">Яндекс карты</div>
                </div>
            </article>
            <article class="reviews__item">
                <div class="reviews__name">Лариса</div>
                <div class="reviews__text">Обратилась в клинику, жалобы на высыпания на лице. В
                    восторге от
                    врача, приятная, уютная атмосфера. Провели полную
                    консультацию, назначили терапию , дали рекомендации. Очень довольна! обязательно напишу про
                    улучшения. Провели полную
                    консультацию, назначили терапию , дали рекомендации. Очень довольна! обязательно напишу про
                    улучшения.</div>
                <div class="reviews__footer">
                    <time datetime="" class="reviews__date">31.01.2024</time>
                    <div class="reviews__from">Яндекс карты</div>
                </div>
            </article>
            <article class="reviews__item">
                <div class="reviews__name">Лариса</div>
                <div class="reviews__text">Обратилась в клинику, жалобы на высыпания на лице. В
                    восторге от
                    врача, приятная, уютная атмосфера. Провели полную
                    консультацию, назначили терапию , дали рекомендации. Очень довольна! обязательно напишу про
                    улучшения. Провели полную
                    консультацию, назначили терапию , дали рекомендации. Очень довольна! обязательно напишу про
                    улучшения.</div>
                <div class="reviews__footer">
                    <time datetime="" class="reviews__date">31.01.2024</time>
                    <div class="reviews__from">Яндекс карты</div>
                </div>
            </article>
        </div>
    </div>
</section>