<section class="sales">
    <div class="sales-container">
        <div class="section__header">
            <div class="title">Акции</div>
        </div>
        <div class="sales__body">
            <a href="#" class="sales__item">
                <picture class="lazy image--cover">
                    <source srcset="@img/sales-mobile.jpg" media="(max-width: 768px)">
                    <img data-src="@img/sales.jpg" class="image lazy__item" alt="">
                </picture>
            </a>
            <a href="#" class="sales__item">
                <picture class="lazy image--cover">
                    <source srcset="@img/sales-mobile-1.jpg" media="(max-width: 768px)">
                    <img data-src="@img/sales-1.jpg" class="image lazy__item" alt="">
                </picture>
            </a>
            <a href="#" class="sales__item">
                <picture class="lazy image--cover">
                    <source srcset="@img/sales-mobile-2.jpg" media="(max-width: 768px)">
                    <img data-src="@img/sales-2.jpg" class="image lazy__item" alt="">
                </picture>
            </a>
        </div>
    </div>
</section>