<section class="sales">
    <div class="sales-container">
        <div class="section__header">
            <div class="title">Омоложение губ</div>
        </div>
        <div class="sales__body">
            <button class="sales__item">
                <picture class="lazy image--cover">
                    <source srcset="@img/sales-detail-mobile.jpg" media="(max-width: 768px)">
                    <img data-src="@img/sales-detail.jpg" class="image lazy__item" alt="">
                </picture>
            </button>
        </div>
        <div class="sales__description" data-editor>
            <p>Непревзойденный anti-age эффект омоложения губ достигается благодаря комбинации режимов лазера Frac3,
                Smooth и Piano, а
                также лазерному воздействию эрбиевого и неодимового лазера.</p>
            <p>Эффект виден сразу после окончания первой процедуры: увеличение объема, эффект омоложения, разглаживание
                эпидермиса губ,
                восстановление естественного цвета губ, восстановление тургора тканей периоральной зоны</p>
        </div>
    </div>
</section>