<section class="search">
    <div class="search-container">
        <div class="section__header">
            <div class="title">Поиск</div>
        </div>
        <div class="search__body">
            <div class="search__form">
                <form>
                    <div class="search__wrapper">
                        <input type="text" name="search" placeholder="Введите запрос" class="input-search" required>
                        <button type="submit" class="btn-search">
                            <svg>
                                <use xlink:href="@img/icons/sprite.svg#search"></use>
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
            <h2>Результат поиска : статьи</h2>
            <div class="search__grid">
                <div class="search__item">
                    <a href="#" class="search__title">Многоуровневое лазерное омоложение ФОТОНА 4Д</a>
                    <div class="search__descr">... специальный уход за кожей после процедуры? После лазерной
                        обработки в течение двух дней может наблюдаться
                        покраснение, отечность и зуд кожи. Косметолог даст индивидуальные советы, как быстрее
                        восстановиться после процедуры.
                        Рекомендуется избегать солнечных ванн в течение 14 дней,...</div>
                    <a href="#" class="btn btn-blue">Перейти</a>
                </div>
                <div class="search__item">
                    <a href="#" class="search__title">Многоуровневое лазерное омоложение ФОТОНА 4Д</a>
                    <div class="search__descr">... специальный уход за кожей после процедуры? После лазерной
                        обработки в течение двух дней может наблюдаться
                        покраснение, отечность и зуд кожи. Косметолог даст индивидуальные советы, как быстрее
                        восстановиться после процедуры.
                        Рекомендуется избегать солнечных ванн в течение 14 дней,...</div>
                    <a href="#" class="btn btn-blue">Перейти</a>
                </div>
                <div class="search__item">
                    <a href="#" class="search__title">Многоуровневое лазерное омоложение ФОТОНА 4Д</a>
                    <div class="search__descr">... специальный уход за кожей после процедуры? После лазерной
                        обработки в течение двух дней может наблюдаться
                        покраснение, отечность и зуд кожи. Косметолог даст индивидуальные советы, как быстрее
                        восстановиться после процедуры.
                        Рекомендуется избегать солнечных ванн в течение 14 дней,...</div>
                    <a href="#" class="btn btn-blue">Перейти</a>
                </div>
                <div class="search__item">
                    <a href="#" class="search__title">Многоуровневое лазерное омоложение ФОТОНА 4Д</a>
                    <div class="search__descr">... специальный уход за кожей после процедуры? После лазерной
                        обработки в течение двух дней может наблюдаться
                        покраснение, отечность и зуд кожи. Косметолог даст индивидуальные советы, как быстрее
                        восстановиться после процедуры.
                        Рекомендуется избегать солнечных ванн в течение 14 дней,...</div>
                    <a href="#" class="btn btn-blue">Перейти</a>
                </div>
            </div>
            <div class="pagination">
                <a class="prev page-numbers" href="№">
                    <svg>
                        <use xlink:href="@img/icons/sprite.svg#arrow-left"></use>
                    </svg>
                </a>
                <a class="page-numbers" href="#">1</a>
                <span class="page-numbers current" aria-current="page">2</span>
                <span class="page-numbers">...</span>
                <a class="page-numbers" href="#">14</a>
                <a class="next page-numbers" href="#">
                    <svg>
                        <use xlink:href="@img/icons/sprite.svg#arrow-right"></use>
                    </svg>
                </a>
            </div>

        </div>
    </div>
</section>