<section class="service">
    <div class="service-container">
        <div class="section__header">
            <div class="title">Голливудский уход HydraFacial</div>
        </div>
        <div class="service__text" data-editor>
            <h3>Косметологическая процедура HydraFacial®</h3>
            <p>Эта оздоравливающая процедура является новым словом в эстетической медицине и косметологии. В ее основе
                лежит
                инновационная технология Vortex-Fusion®, сочетающая в себе механическую эксфолиацию, воздействие
                мультифункциональных
                сывороток и стимуляцию вакуумом. Благодаря этому, HydraFacial® обеспечивает эффективное лечение кожи. 
                В одной процедуре
                объединены SPA-чистка, химический пилинг, микродермабразия и безинъекционная мезотерапия.</p>
            <p>Сеанс длится в среднем около 60 минут, может достигать 90 минут в самом максимальном протоколе и состоит
                из
                нескольких этапов. Сначала врач подготавливает кожу - снимает ороговевшие клетки кожи и очищает поры от
                загрязнений.
                Затем начинается безопасное глубокое вакуумное очищение с применением лечебных компонентов. Завершается
                комплекс
                насыщением влагой и питательными веществами для закрепления и пролонгации эффекта. Каждый этап
                проводится при помощи
                различных насадок, которые подобно «пылесосу» собирают с кожи все нехорошее и стимулируют усиленное
                кровообращение.
                Специальные сыворотки (подбираются врачом индивидуально) подаются циклонами, что позволяет им глубоко
                проникать внутрь и
                насыщать клетки всем необходимым. Сразу же после процедуры можно вернуться к привычному образу жизни.
            </p>
            <h3>Применение процедуры HydraFacial®</h3>
            <p>Процедура HydraFacial® может быть показана единоразово, как экспресс-уход, или же проводиться курсами.
            </p>
            <h3>Подойдет ли мне HydraFacial?</h3>
            <p>Да! Процедура HydraFacial подходит всем типам кожи. Благодаря HydraFacial вы можете удовлетворить все
                потребности в
                уходе за кожей одним аппаратом.</p>
            <h3>Преимущества процедур на косметологическом аппарате Tower HydraFacial®</h3>
            <ul>
                <li>Возможность комплексно оздоровить кожу (в том числе лечение акне I-II степени тяжести)</li>
                <li>Результат заметен уже после первой процедуры</li>
                <li>Без боли и периода реабилитации</li>
                <li>Подходит для клиентов с любым типом кожи (включая чувствительную) и любого возраста</li>
                <li>Подходит как для женщин, так и для мужчин и не имеет сезонности</li>
                <li>Процедура абсолютно гигиенична (используются запатентованные одноразовые насадки HydroPeel®)</li>
            </ul>
        </div>
        <div class="section__header section">
            <div class="title">Записаться на процедуру</div>
        </div>
        <div class="service__list">
            <div class="service__item">
                <div class="service__name">HydraFacial® (Хайдрофэшл глубокое очищение и увлажнение)</div>
                <div class="service__actions">
                    <div class="price">6500 ₽</div>
                    <button type="submit" class="btn btn-pink"
                        data-name="HydraFacial® (Хайдрофэшл глубокое очищение и увлажнение)">Записаться на
                        процедуру</button>
                </div>
            </div>
            <div class="service__item">
                <div class="service__name">Алмазная дермабразмя (дополнение к программе)</div>
                <div class="service__actions">
                    <div class="price">1000 ₽</div>
                    <button type="submit" class="btn btn-pink"
                        data-name="Алмазная дермабразмя (дополнение к программе)">Записаться на
                        процедуру</button>
                </div>
            </div>
            <div class="service__item">
                <div class="service__name">Увлажняющая/ Лифтинг маска по типу кожи дополнитено</div>
                <div class="service__actions">
                    <div class="price">500-1000 ₽</div>
                    <button type="submit" class="btn btn-pink"
                        data-name="Увлажняющая/ Лифтинг маска по типу кожи дополнитено">Записаться на
                        процедуру</button>
                </div>
            </div>
            <div class="service__item">
                <div class="service__name">Механическая чистка (дополнительно к процедуре Хайдрофэшл)</div>
                <div class="service__actions">
                    <div class="price">2000 ₽</div>
                    <button type="submit" class="btn btn-pink"
                        data-name="Механическая чистка (дополнительно к процедуре Хайдрофэшл)">Записаться на
                        процедуру</button>
                </div>
            </div>
        </div>
    </div>
</section>