<section class="video section" data-watch>
    <div class="video-container">
        <div class="section__header">
            <div class="title">Полезные видео</div>
        </div>
        <div class="video__body">
            <a data-fancybox="gallery" href="https://www.youtube.com/watch?v=ScMzIvxBSi4" class="video__item">
                <picture class="lazy image--cover">
                    <img data-src="@img/video-1.jpg" class="image lazy__item video__thumb" alt="">
                </picture>
                <span class="video__play"></span>
            </a>
            <a data-fancybox="gallery" href="@img/video.mp4" class="video__item">
                <picture class="lazy image--cover">
                    <img data-src="@img/video-2.jpg" class="image lazy__item video__thumb" alt="">
                </picture>
                <span class="video__play"></span>
            </a>
        </div>
    </div>
</section>