// <SELECT>
// Сниппет (HTML): sel
.select {
	min-width: 0;
	position: relative;
	margin-bottom: 20px;
	// .select__body
	&__body {
		position: relative;
	}
	// .select__title
	&__title {
		color: #000;
		text-align: left;
		border: 1px solid #cdcdcd;
		border-radius: 15px;
		padding: 18px 30px;
		background-color: #fff;
		cursor: pointer;
		width: 100%;
	}
	// .select__value
	&__value {
		display: flex;
		min-width: 0;
		align-items: center;
		gap: 10px;
		> * {
			flex: 1 1 auto;
		}
		&:after {
			content: "";
			background-image: url("data:image/svg+xml,%0A%3Csvg width='10' height='16' viewBox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L8 8L1 15' stroke='%232C3071' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
			background-position: center;
			background-repeat: no-repeat;
			transform: rotate(90deg);
			align-self: stretch;
			flex: 0 0 10px;
			transition: all 0.3s ease 0s;
			display: flex;
			justify-content: center;
			align-items: center;
			._select-open & {
				transform: rotate(-90deg);
			}
		}
		&._select-pseudo-label {
			&::before {
				content: attr(data-pseudo-label);
				opacity: 0.5;
			}
		}
	}
	// .select__content
	&__content {
		flex: 1 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	// .select__text
	&__text {
		flex: 1 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		color: #000;
		position: absolute;
		top: calc(100% - 12px);
		border-radius: 0 0 4px 4px;
		min-width: 100%;
		left: 0;
		padding-bottom: 15px;
		border-radius: 0 0 15px 15px;
		background-color: #fff;
		border-top: 0;
		border-left: 1px solid #cdcdcd;
		border-right: 1px solid #cdcdcd;
		border-bottom: 1px solid #cdcdcd;
		border-top: none;
		border-top: 0;
	}
	// .select__scroll
	&__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		// Максимальна висота
		max-height: 200px;
		// Стилі скроллбару
		.simplebar-scrollbar {
			&::before {
				//opacity: 1;
			}
		}
	}
	// .select__option
	&__option {
		border: none;
		width: 100%;
		text-align: left;
		cursor: pointer;
		padding: 8px 30px;
		color: inherit;
		&._select-selected {
			background-color: #eee;
		}
		@media (any-hover: hover) {
			&:hover {
				background: rgba(44, 48, 113, 0.2);
			}
		}
	}

	// Конструкція додаткових даних
	&__row {
		display: inline-flex;
		align-items: center;
	}
	&__asset {
	}
	&__text {
	}

	// Стан селекту
	&._select-open {
		z-index: 5;
	}
	&._select-disabled {
	}
	&._select-active {
	}
	&._select-focus {
	}
	&._select-multiple {
	}
	&._select-checkbox {
	}
}

// Тег
._select-tag {
	cursor: pointer;
}
